@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


.modal {
    position: fixed !important;
    z-index: 1 !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    display: flex !important;
    align-items: center!important;
    justify-content: center !important;
  }
  
  .modal-content {
    background-color: #e9e6df !important;
    margin: auto !important;
    padding: 20px !important;
    width: 35% !important;
    position: relative !important;
    transform: scale(0.7) !important; 
    opacity: 0 !important;  /* start with 0 opacity */
    transition: transform 0.3s, opacity 0.3s !important; 
    font-family: 'Sofia Sans', sans-serif;
    color: #000000 !important;
    border: #000000 solid !important;
    border-width: 2px !important;
  }
  
  .modal-content.show {
    transform: scale(1) !important;
    opacity: 1 !important;  
  }

  .modal-content .card-title {
    font-size: 26px;  /* Adjust this value as needed for desired size */
    text-align: center;
    padding-bottom: 15px;
  }
  
  
  .close-button {
    position: absolute !important;
    right: 10px !important;
    top: 5px !important;
    font-size: 24px !important;
    cursor: pointer !important;
  }
  
  body {
    background-image: url('/public/icons/Home.png');
    background-size: cover;  /* Cover the entire screen */
    background-attachment: fixed;  /* Fixed background */
    background-position: center;  /* Center the background */

  }

  body, html {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .icon-button {
    cursor: pointer;
    width: 80px; /* or any size you prefer */
    height: 80px;
    margin: 10px; /* optional: to give some space between icons */
    transition: opacity 0.3s;
  
    /* optional: to give a visual feedback when icon is hovered */
    &:hover {
      opacity: 0.7;
    }
  }
  
  .search-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 270px; /* Adjust this value to place it 1/3 down the page */
  }
  
  .search-container {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
  }
.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 250px;
  outline: none;
  transition: border-color 0.3s;
  font-family: 'Sofia Sans', sans-serif;
  background-color: #e9e6df;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);

  /* Optional: style for the input when it's focused */
  &:focus {
    border-color: #6ef8f1;
  }
}

.search-button {
  /* Style for the search button */
  padding: 10px 15px;
  background-color: #149ad8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-family: 'Sofia Sans', sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);

  /* Optional: style for the button when it's hovered */
  &:hover {
    background-color: #1283b8;
  }
}

/* Add space between the input and the button */
.search-input + .search-button {
  margin-left: 10px;
}

.filter-icons {
  margin-bottom: 40px;
}

.cards-container {
  max-width: 100vw;  /* ensures the container does not exceed the viewport width */
  overflow: hidden;  /* hides any overflow */
  padding-left: 130px;
  padding-right: 130px;  /* provides spacing from the edge of the screen */
  font-family: 'Sofia Sans', sans-serif;
}

.card {
  width: 300px !important;
  height: 430px !important;  /* Adjust as needed */
  margin: 0 auto !important;
  margin-left: 12px !important;  /* Centers the card in its container */
  background-color: #e9e6df !important;
  border: #525252 solid !important;
  border-width: 1px !important;
}

.card-title {
  font-weight: 700;
}

.card-text {
  color: #3b3b3b;
}

.btn {
  position: absolute !important;
  bottom: 15px;  /* adjust this value as needed */
  /* other styles... */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  
}

.view-details-btn {
  left: 22px;  /* adjust this value as needed */
  /* other styles... */
  background-color: #05b47b !important;
  &:hover {
    background-color: #099667 !important;
  }
  /* border: #000000 solid !important;
  border-width: 1px !important; */
}

.add-to-faves-btn {
  right: 22px;  /* adjust this value as needed */
  /* other styles... */
  background-color: #149ad8 !important;
  &:hover {
    background-color: #1283b8 !important;
  }
  /* border: #000000 solid !important;
  border-width: 1px !important; */
}


/* This is all the navbar stuff */

.navbar {
  padding: 0.20rem 1rem !important; /* Adjust as needed */
  
}


/* this is all the favorites page stuff */

